@import "theme";

// 整体组件参数
$--border-width-base: 1px !default;
$--border-style-base: solid !default;

// button
$--button-default-background-color: $defalut-white;
$--button-primary-background-color: $primary;
$--button-success-background-color: $success;
$--button-warning-background-color: $warning;
$--button-danger-background-color: $danger;
$--button-info-background-color: $info;
$--button-disabled-background-color: $info;

$--button-default-font-color: $defalut-black;
$--button-primary-font-color: $defalut-white;
$--button-success-font-color: $defalut-white;
$--button-warning-font-color: $defalut-white;
$--button-danger-font-color: $defalut-white;
$--button-info-font-color: $defalut-white;
$--button-disabled-font-color: $defalut-white;

$--button-default-border-color: $defalut-black;
$--button-primary-border-color: $primary;
$--button-success-border-color: $success;
$--button-warning-border-color: $warning;
$--button-danger-border-color: $danger;
$--button-info-border-color: $info;
$--button-disabled-border-color: $info;

$--border-base: $--border-width-base $--border-style-base $defalut-black !default;

$button-large-font: $font-20;
$button-medium-font: $font-16;
$button-small-font: $font-12;

$--button-padding-vertical: 12px !default;
$--button-padding-horizontal: 20px !default;
