.layout-defalut {
    &__nav {
        > .layout-nav__logo {
            > .logoIcon {
                height: 30px;
                width: 30px;
                margin: 18px 15px 0px;
            }
            > .logoName{
                font-size: 1.2rem;
                line-height: 2rem;
                margin: 18px 0px;
            }
        }
    }
}
