@import "./config.scss";
/*    BEM    */
// block 块
// 例如coo-button !global

// #{$B} 插值
// 比如 B =》 ces; .#{$B} =》 .ces；用于特殊情况和作为属性
@mixin b($block) {
    $B: $namespace + "-" + $block !global;
    .#{$B} {
        @content;
    }
}
// element 元素
@mixin e($element) {
    $E: $element !global;
    $selector: &;
    $currentSelector: "";

    // element => header, footer
    // currentSelector = .coo-button__header, .coo-button__footer
    @each $unit in $element {
        $currentSelector: #{$currentSelector + "." + $B + $element-separator + $unit + ","};
    }
    //判断父级选择器是否包含'--','is',':'
    @if hitAllSpecialNestRule($selector) {
        @at-root {
            #{$selector} {
                #{$currentSelector} {
                    @content;
                }
            }
        }
    } @else {
        @at-root {
            #{$currentSelector} {
                @content;
            }
        }
    }
}
// modifier 修饰
@mixin m($modifier) {
    $selector: &;
    $currentSelector: "";
    @each $unit in $modifier {
        $currentSelector: #{$currentSelector + & + $modifier-separator + $unit + ","};
    }

    @at-root {
        #{$currentSelector} {
            @content;
        }
    }
}
// 挂载组件状态
@mixin when($state) {
    @at-root {
        &.#{$state-prefix + $state} {
            @content;
        }
    }
}
// 组件挂载伪类
@mixin pseudo($pseudo) {
    @at-root #{&}#{":#{$pseudo}"} {
        @content;
    }
}
