@import "theme";

// 整体组件参数
$--border-width-base: 1px !default;
$--border-style-base: solid !default;
$--border-base: $--border-width-base $--border-style-base $defalut-black !default;

// button
$--button-default-background-color: $defalut-white;
$--button-primary-background-color: $primary;
$--button-success-background-color: $success;
$--button-warning-background-color: $warning;
$--button-danger-background-color: $danger;
$--button-info-background-color: $info;
$--button-disabled-background-color: $info;
$--button-plain-background-color: $white;

$--button-default-font-color: $defalut-black;
$--button-primary-font-color: $defalut-white;
$--button-success-font-color: $defalut-white;
$--button-warning-font-color: $defalut-white;
$--button-danger-font-color: $defalut-white;
$--button-info-font-color: $defalut-white;
$--button-disabled-font-color: $defalut-white;

$--button-default-border-color: $defalut-black;
$--button-primary-border-color: $primary;
$--button-success-border-color: $success;
$--button-warning-border-color: $warning;
$--button-danger-border-color: $danger;
$--button-info-border-color: $info;
$--button-disabled-border-color: $info;

$--button-default-font: $font-14;
$--button-large-font: $font-16;
$--button-normal-font: $font-14;
// $--button-small-font: $font-12;
$--button-small-font: $font-12;

// tabbar
$--tabbar-default-font: $font-12;
$--tabbar-default-icon-font: $font-22;
$--tabbar-default-color: $defalut-black;
$--tabbar-primary-color: $primary;
$--tabbar-default-background-color: $white;
$--tabbar-primary-background-color: $white;
$--tabbar-default-zindex: 100;

//overlay
$--overlay-default-background-color: rgba($mainTitle__Black, 0.7);
// $--overlay-default-content-color: $white;
$--overlay-default-zindex: 1000;

$--overlay-position-top-distance: 0%;
$--overlay-position-left-distance: 0%;
$--overlay-position-bottom-distance: 0%;
$--overlay-position-right-distance: 0%;
$--overlay-position-center-distance: 50%;
$--overlay-position-middle-distance: 50%;

// dialog
$--dialog-default-background-color: $white;
$--dialog-border-radius: 10px;

$--dialog-border-color: $borderColor;
$--dialog-default-zindex: 1010;
$--dialog-title-padding-top: 26px;
$--dialog-title-font-weight: 500;
$--dialog-title-line-height: 24px;
$--dialog-content-line-height: 24px;
$--dialog-button-height: 50px;
$--dialog-button-cancel-color: $info;
$--dialog-button-confirm-color: $primary;

//navbar
$--navbar-default-background-color: $mainBackground;
$--navbar-default-font-color: $mainTitle;
$--navbar-default-zindex: 1001;

// toast
$--toast-default-zindex: 2001;
$--toast-default-background: rgba($mainTitle__Black, 0.7);
$--toast-default-font-color: rgba($mainBackground__Black, 1);

$--toast-radius: 8px;
$--toast-position-top-distance: 20%;
$--toast-position-bottom-distance: 20%;
$--toast-position-center-distance: 50%;

// popup
$--popup-default-zindex: 2001;
$--popup-radius: 16px;
$--popup-default-background: $mainBackground;

// cell
$--cell-background-color: $white;
$--cell-default-font: $font-12;
$--cell-default-color: $defalut-black;

//tag
$--tag-background-color: $danger;
$--tag-font-color: $mainTitle;
