@import "../mixins/mixins";
@import "./transferAnimation.scss";

$animation-duration: 600ms; // 时间间隔
$animation-duration--slow: 1000ms; // 时间间隔慢
$animation-duration--fast: 200ms; // 时间间隔
$ease-out-circ: cubic-bezier(0.08, 0.82, 0.17, 1); // out 动画曲线
$ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.34); // in 动画曲线
$slide-ease-out: ease-out;
$slide-ease-in: ease-in;

@include b(transfer) {
  -webkit-animation-duration: $animation-duration;
  animation-duration: $animation-duration;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  @include when(slow) {
    -webkit-animation-duration: $animation-duration--slow;
    animation-duration: $animation-duration--slow;
  }
  @include when(fast) {
    -webkit-animation-duration: $animation-duration--fast;
    animation-duration: $animation-duration--fast;
  }
}

// 淡入淡出 fade
@include b(fade) {
  @include m(in) {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    animation-timing-function: $ease-in-circ;
  }
  @include m(out) {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    animation-timing-function: $ease-out-circ;
  }
}
// 位移 move
// 向下位移
@include b(moveDown) {
  @include m(in) {
    -webkit-animation-name: moveDownIn;
    animation-name: moveDownIn;
    animation-timing-function: $ease-in-circ;
  }
  @include m(out) {
    -webkit-animation-name: moveDownOut;
    animation-name: moveDownOut;
    animation-timing-function: $ease-out-circ;
  }
}
// 向左位移
@include b(moveLeft) {
  @include m(in) {
    -webkit-animation-name: moveLeftIn;
    animation-name: moveLeftIn;
    animation-timing-function: $ease-in-circ;
  }
  @include m(out) {
    -webkit-animation-name: moveLeftOut;
    animation-name: moveLeftOut;
    animation-timing-function: $ease-out-circ;
  }
}
// 向右位移
@include b(moveRight) {
  @include m(in) {
    -webkit-animation-name: moveRightIn;
    animation-name: moveRightIn;
    animation-timing-function: $ease-in-circ;
  }
  @include m(out) {
    -webkit-animation-name: moveRightOut;
    animation-name: moveRightOut;
    animation-timing-function: $ease-out-circ;
  }
  @include m(upIn) {
    -webkit-animation-name: moveUpIn;
    animation-name: moveUpIn;
    animation-timing-function: $ease-in-circ;
  }
  @include m(upOut) {
    -webkit-animation-name: moveUpOut;
    animation-name: moveUpOut;
    animation-timing-function: $ease-out-circ;
  }
}
// 向上位移
@include b(moveUp) {
  @include m(in) {
    -webkit-animation-name: moveUpIn;
    animation-name: moveUpIn;
    animation-timing-function: $ease-in-circ;
  }
  @include m(out) {
    -webkit-animation-name: moveUpOut;
    animation-name: moveUpOut;
    animation-timing-function: $ease-out-circ;
  }
}
// 位移 slide
// 向下位移
@include b(slideDown) {
  @include m(in) {
    -webkit-animation-name: slideDownIn;
    animation-name: slideDownIn;
    animation-timing-function: $slide-ease-in;
  }
  @include m(out) {
    -webkit-animation-name: slideDownOut;
    animation-name: slideDownOut;
    animation-timing-function: $slide-ease-out;
  }
}
// 向左位移
@include b(slideLeft) {
  @include m(in) {
    -webkit-animation-name: slideLeftIn;
    animation-name: slideLeftIn;
    animation-timing-function: $slide-ease-in;
  }
  @include m(out) {
    -webkit-animation-name: slideLeftOut;
    animation-name: slideLeftOut;
    animation-timing-function: $slide-ease-out;
  }
}
// 向右位移
@include b(slideRight) {
  @include m(in) {
    -webkit-animation-name: slideRightIn;
    animation-name: slideRightIn;
    animation-timing-function: $ease-in-circ;
  }
  @include m(out) {
    -webkit-animation-name: slideRightOut;
    animation-name: slideRightOut;
    animation-timing-function: $slide-ease-out;
  }
  @include m(upIn) {
    -webkit-animation-name: slideUpIn;
    animation-name: slideUpIn;
    animation-timing-function: $slide-ease-in;
  }
  @include m(upOut) {
    -webkit-animation-name: slideUpOut;
    animation-name: slideUpOut;
    animation-timing-function: $slide-ease-out;
  }
}
// 向上位移
@include b(slideUp) {
  @include m(in) {
    -webkit-animation-name: slideUpIn;
    animation-name: slideUpIn;
    animation-timing-function: $slide-ease-in;
  }
  @include m(out) {
    -webkit-animation-name: slideUpOut;
    animation-name: slideUpOut;
    animation-timing-function: $slide-ease-out;
  }
}
